<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">


    <!--creates a Servlet Filter known as the springSecurityFilterChain which is responsible
    for all the security (protecting the application URLs,
    validating submitted username and passwords, redirecting to the log in form, etc) within  application.-->
    <security:http auto-config="true" use-expressions="true">
        <!--TODO: ????-->
        <security:intercept-url pattern="/" access="permitAll"/>
        <security:intercept-url pattern="/marks/**" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/redirect" access="hasRole('ROLE_USER')"/>
        <!--default-target-url="/redirect"-->
        <!--default-target-url="/management"-->
        <security:form-login
            login-page="/login"

            authentication-failure-url="/login?error"
            username-parameter="username"
            password-parameter="password"/>

        <security:logout logout-url="/login?logout"/>

        <!--//TODO: implement csrf token submitting-->
        <security:csrf disabled="true"></security:csrf>
        
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <!--TODO check this-->
            <!--<security:password-encoder ref="encoder"/>-->
            <security:jdbc-user-service data-source-ref="dataSource"
                      users-by-username-query="SELECT login, password, enabled FROM sheet.teachers WHERE login=?"
                      authorities-by-username-query="SELECT login, roles.role_name FROM sheet.teachers, sheet.roles WHERE login=?"/>
        </security:authentication-provider>
    </security:authentication-manager>

    <!--Hashing service-->
    <bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <constructor-arg name="strength" value="10"/>
    </bean>

    <bean id="resolver" class="org.springframework.security.authentication.AuthenticationTrustResolverImpl"/>

</beans>